* {
 font-family: 'Open Sans', sans-serif;
}

body {
  display: grid;
}

.logo {

}

.nav {
  display: grid;
  margin: 0 5%;
  margin-top: 30px;
  border: solid black 1px;
  text-align: center;
}

.nav * {
  /* all: initial; */
  font-family: 'Open Sans', sans-serif;
}

main {
  display: grid;
}

body {
  margin: 0;
}

.featured {
  display: grid;
  margin: 0 5%;
  margin-top: 30px;
  border: solid black 1px;
  text-align: center;
}

.search {
  margin: 0 5%;
  margin-top: 30px;

  border: solid black 1px;
  display: grid;
  grid-template-areas:
    "searchbar"
    "resultinfo" /* This will contain the type of fesults i.e. History, newest, search results (You have recieved 10,100 results in 2 seconds)*/
    "results";
  grid-template-rows: 100px auto auto;
}

.searchbar {
  grid-area: searchbar;
  font-size: 2.1vw;
  background-color: rgb(104,104,104, 0.2);
  text-indent: 10px;
}

.resultinfo {
  grid-area: resultinfo;
  height: 17px;
  border: solid black 1px;
}

.results {
  grid-area: results;
}

.result {
  display: grid;
  grid-template-areas:
    "hash-info score";
  grid-template-columns: 93% 7%;
  border: 1px solid #888;
}

.hash-info {
  grid-area: hash-info;
  display: grid;
  grid-template-areas:
    "name"
    "hash";
  grid-template-rows: auto auto;
}

.name {
  grid-area: name;
  text-align: left;
  font-size: 24px;
}

.hash {
  grid-area: hash;
  font-size: 15px;
}

.score {
  grid-area: score;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.modal-content * {
  /* all: initial; */
  font-family: 'Open Sans', sans-serif;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  display: grid;
  grid-template-areas:
    "name close"
    "hash close"
    "score score";
  grid-template-columns: 98% 2%;
}

/* The Close Button */
.close {
  grid-area: close;
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.upvotemain {
  font-size: 2.1vw;
  color: rgb(78, 228, 78);
  margin: 0px 10%;
}

.downvotemain {
  font-size: 2.1vw;
  color: red;
  margin: 0px 10%;
}

.slashmain {
  font-size: 2.1vw;
}

.upvotemodal {
  font-size: 40px;
  color: rgb(78, 228, 78);
  margin: 10px;
}

.downvotemodal {
  font-size: 40px;
  color: red;
  margin: 10px;
}

.slashmodal {
  font-size: 40px;
  margin: 10px 0px;
}

.footer {

}
