* {
 font-family: 'Open Sans', sans-serif;
}

body {
  display: grid;
}

.logo {

}

.nav {
  display: grid;
  margin: 0 5%;
  margin-top: 30px;
  border: solid black 1px;
  text-align: center;
}

.nav * {
  all: initial;
  font-family: 'Open Sans', sans-serif;
}

main {
  display: grid;
}

.featured {
  display: grid;
  margin: 0 5%;
  margin-top: 30px;
  border: solid black 1px;
  text-align: center;
}

.search {
  margin: 0 5%;
  margin-top: 30px;

  border: solid black 1px;
  display: grid;
  grid-template-areas:
    "filterbox searchbar"
    "results results";
  grid-template-rows: 100px 400px;
  grid-template-columns: 20% auto ;
}

.filterbox {
  grid-area: filterbox;
  border: solid black 1px;
}

.searchbar {
  grid-area: searchbar;
  font-size: 40px;
  background-color: rgb(104,104,104, 0.2);
  text-indent: 10px;
}

.results {
  grid-area: results;
}

.result {
  display: grid;
  grid-template-areas:
    "hash-info score";
  grid-template-columns: 20% 80%;
  margin: 10px;
}

.hash-info {
  grid-area: hash-info;
  display: grid;
  grid-template-areas:
    "name"
    "hash";
  grid-template-rows: 15px 15px;
}

.name {
  grid-area: name;
  text-align: left;
}

.hash {
  grid-area: hash;
  font-size: 10px;
}

.score {
  grid-area: score;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.footer {

}
